/* header */
.Product-header {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Product-header > div > h1 {
    font-size: 35px;
    font-weight: bold;
  }
  
  /* main */
  .Product-main-div {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    cursor: pointer;
    /* border: solid; */
    zoom: 0.9;
  }
  /* left */
  .Product-left-div {
    width: 20%;
    padding: 10px;
  }
  .Product-left-div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* right */
  .Product-right-div {
    width: 80%;
    height: auto;
  }
  
  .Product-grid {
    width: 100%;
    height: auto;
    height: 110vh;
    overflow:scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .Product-grid > div {
    zoom: 0.8;
    height: 350px;
  }
  .sort-by {
    text-align: left;
    font-size: large;
  }
  .sort-by > div {
    display: flex;
    align-items: center;
    align-items: flex-start;
  }
  #filter-reset {
    cursor: pointer;
  }
  
  /* media Query */
  @media screen and (max-width: 480px) {
    .Product-header {
      width: 100%;
      height: auto;
      margin: auto;
      padding: 10px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      zoom: 0.5;
    }
    .Product-main-div {
      width: 95%;
      height: auto;
      margin: auto;
      display: flex;
    }
    .Product-left-div {
      width: 25%;
      height: auto;
    }
    .Product-right-div {
      width: 75%;
      height: auto;
    }
    .Product-left-div {
      zoom: 0.6;
      padding-top: 20px;
    }
    .Product-left-div-header {
      display: grid;
      justify-content: space-between;
      align-items: center;
    }
    .Product-grid {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      zoom: 0.6;
    }
  }
  